.bkg-color {
  padding: 10px;
  .phone {
    position: relative;
    border-radius: 20px;
    padding: 8px 0;
    background-color: white;
    .data {
      height: 74vh;
      overflow-y: auto;
      /*  &::-webkit-scrollbar {
        overflow-y: hidden;
      } */
    }

    .btn {
      border: none;
      cursor: pointer;
      background-color: white;
      display: block;
      margin: 10px;
    }
  }
}
